.jumbotron {
	background-color: #C29F54;
	color: black;

}

.footer {
	padding: 10px 10px 0 10px;
	background-color: #C29F54
	margin-bottom: 0px;
	margin-top: 10px;}

.btn {
	background: #BEFCB8;
	color: white;
}

